// Theme Colors

$color-background: #000;

$color-bg: transparent;
$color-border: #fcdb54;
$color-marked-bg: transparent;
$color-x: #c61f1f;
$color-text: #fafefb;

// Dimensions
$square-size: 200px;
$stroke-width: 10;