@using JurassicBingo.Models
@using Microsoft.AspNetCore.Components

<div class="bingo-container">
    <div class="bingo-grid">
        <div class="bingo-square bingo-header">
            <span class="square-text">B</span>
        </div>
        <div class="bingo-square bingo-header">
            <span class="square-text">I</span>
        </div>
        <div class="bingo-square bingo-header">
            <span class="square-text">N</span>
        </div>
        <div class="bingo-square bingo-header">
            <span class="square-text">G</span>
        </div>
        <div class="bingo-square bingo-header">
            <span class="square-text">O</span>
        </div>
        @foreach(var square in Squares)
        {
            <BingoSquareRenderer Square="@square" OnSquareClick="HandleSquareClick" />
        }
    </div>
</div>


@code {
    [Parameter]
    public List<BingoSquare> Squares { get; set; } = new();

    [Parameter]
    public EventCallback<BingoSquare> OnSquareClick { get; set; }

    private Task HandleSquareClick(BingoSquare square)
        => OnSquareClick.InvokeAsync(square);
}